body{
    text-align: center;
}
h2, h3 {
    text-align: center;
    height: 15px;
}
.health, .energy, #currentNumDeck, .numCardsInDeck, #inactiveNumDeck{
    display: inline;
}
img{
    height: 170px;
    min-width: 135px;
}
.sideKick.card {
    background-color: black; 
    background-image: url(https://media.giphy.com/media/l2Sq61oUPwh8S02ys/giphy.gif);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1px 2px;
    border: 0px;
    border-radius: 15px;
}
#inactiveSquadron, #currentSquadron{
    min-height: 75px;
}
.stats {
    border: 1px solid gray;
    border-radius: 10px;
    width: 300px;
    display: inline-block;
}
.card {
    background-color: black; 
    background-image: url(https://media.giphy.com/media/Xh1z9DwTnbVTi/source.gif);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1px 2px;
    border: 0;
    border-bottom: 3px solid gray;
    border-left: 2px solid gray;
    border-radius: 15px;
}
.rareCard {
    background-color: black; 
    background-image: url(https://i.pinimg.com/originals/99/5a/b3/995ab306154e9b169d1f580c287408ea.gif);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1px 2px;
    border: 0px;
    border-radius: 15px;
}
#inactiveHand{
    padding-left: 100px;
}